<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="File" name="file" fileName="${basedir}/log.txt" layout="[${logger}][${level}] ${message}" />
        <target xsi:type="ColoredConsole" name="console" layout="[${logger}][${level}] ${message} ${exception:format=ToString}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>
